
body {
	font-family: Avenir, sans-serif;
}

a:visited { text-decoration: none; color:unset; }


#navbar *{
	display: inline-block;	
}

#navbar {
	height: 50px;
	background-color: #4E2AB4;
}


#nav-wordmark {
	text-decoration: none;
	height: 85px;
	padding-top: 2px;
	margin-left: 10px;
}

#nav-logo {
	height: 80px;
}

#nav-title {
	font-size: 30px;
	color: white;
}

#nav-pages {
	padding-top: 15px;
	width: 300px;
	float: right;
}


#nav-pages a{
	width: 50px;
	margin-right: 10px;
	text-align: center;
	color: white;
	font-size: 16px;
}

.give-content-container {
	display: inline-block;
	width: 30%;
	border: 1px solid black;
}

#needs-list {
	
}

#welcome_block {
	margin: 25px;
	border: 3.5px solid black;
}

.content_block {
	margin: 10px;
	border: 5px solid black;
	text-align: center; 

}

.content_block_element {
	display: inline-block;
	height: 200px;
	width: 200px;
	margin: 17px;
	border: 3.5px solid black;
	background-color: gray;
}

.content_block_name {
	text-align: center;
	font-size: 25pt;
	color: white;
	text-decoration: underline;
}

.content_block_description{
	text-align: center;
	font-size: 15pt;
	color: white;

}



